.h1 {
  text-align: center;
  color: black;
  font-size: 38px;
  text-align: 700;
  margin-top: 50px;
}
.h1 span {
  color: #599921;
}
.li-green-button {
  display: inline;
  font-size: 12px;
  color: black;
}
.menu-header-content, .checked-all-or-new {
  text-align: center;
  margin-top: 60px;
}

.checked{
    display: inline;
}
.menu-big-conteiner{
  width: 95%;
  margin: 0px auto;
}
.food-box-in-menu{
  margin-top: 15px;
}
.checkbox-filter{
  margin: 10px;
  text-align: center;
  font-size: 20px;
}
.checkbox-filter-all-or-new {
  margin: 10px;
  width: 15px;
  height: 15px;
  border: 1px solid #ececec;
  border-radius: 5px;
}
