.app-header-delivery-color{
	position: fixed;
	background-color: #F5F5F5;
	width: 100%;
	z-index: 99;
}
.app-header-delivery{
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 15px;
	letter-spacing: 0.05rem;
	/* position: fixed; */
	width: 600px;
	margin: 0 auto;
}
.app-header-delivery p{
	font-weight: normal;
}
.app-header-delivery span{
	margin: 0 40px 0px 10px;
	font-weight: 300;
}
.app-header-delivery li{
	color: #518B26;
	border-bottom: 3px solid #518B26;
	text-transform: uppercase;
	font-size: 14px;
	cursor: pointer;
	padding: 0px 0px 3px 0px;
	font-weight: bold;
	margin: 0;
	line-height: 15px;
}