*{
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
    
}


.fullDeliveryBlock{
    display: flex;
    justify-content: center;
    width: 80%;
}
.title{

    margin-top: 10px;
    margin-bottom: 50px;
}
.yellowTitle{
    font-weight: bold;
}
h1{
    color: black;
    font-size: 38px;
    letter-spacing: 2px;
    font-weight: 700;
}
h1 span{
    color: green;
}
.bikes-block{
    display: flex;
    flex-direction: column;
    width: 680px;

}

.green-bike, .yellow-bike, .red-bike{
    display: flex;
	justify-content: space-between;
    margin-top: 40px;
   

}

.first-description, .second-description, .third-description{
    text-align: left;
    margin-left: 90px;
}
.greenTitle, .yellowTitle, .redTitle{
    text-align: left;
}

ul{
    list-style: none;

  }
  li {
    text-align: left;
    margin: 0.25rem;
    line-height: 27px;
  }
 .redList li::before {
    content: " ";
    background: #66297400;
    border: 2px solid #ef2f3d;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 0.5rem;
    text-align: left;
  }
  .yellowList li::before {
    content: " ";
    background: #66297400;
    border: 2px solid #ffcc00;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 0.5rem;
    text-align: left;
  }
  .greenList li::before {
    content: " ";
    background: #66297400;
    border: 2px solid #599921;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 0.5rem;
    text-align: left;
  }

 