.pageBasketOrder{
display: flex;
flex-direction: column;
border: 1px solid #000;
width: 900px;

}

.titleForBasket{
display: flex;
padding: 10px;
justify-content: space-between;
}
.products{
    display: flex;
    flex-direction: row;
}
.amount{
    display: flex;
    flex-direction: row;
    margin-top: 15px;
    margin-left: 40px;
}
.plus, .minus{
width: 40px;
height: 40px;
}