
.app-header-image-bar{
	padding: 0px 50px 0px 50px;
	display: flex;
	justify-content: space-around;
}
.app-header-image-bar p{
	font-size: 48px;
	font-weight: bold;
	color: #2D2C2C;
	margin: 40px 0px 40px 0px;
	letter-spacing: 0.02rem;
	line-height: 50px;
}
.app-header-image-bar span{
	font-size: 52px;
	color: #599921;
}
.app-header-image-bar-content{
	padding: 100px;
}
.app-header-image-bar button{
	padding: 20px;
	color: #fff;
	font-size: 20px;
	text-transform: uppercase;
	letter-spacing: 0.1rem;
	border-radius: 5px;
	background: #599921;
}
.header-image-bar-carousel{
	padding: 50px 0px 50px 0px;
}