footer {
  padding: 50px;
  flex: 0 0 auto;
}
.app-footer {
  display: flex;
  justify-content: space-between;
  line-height: 20px;
}
.app-footer-block {
  display: flex;
}
.app-footer-flex {
  display: flex;
  align-items: center;
}
.app-footer-block-line {
  align-items: flex-start;
}
.app-footer-block-line span {
  margin: 10px 0px;
}
.app-footer-block-column {
  flex-direction: column;
}
.app-footer-block-map {
  width: 25%;
}
.app-footer-map p {
  margin: 5px 10px;
  text-align: left;
}
.fa-map-marker-alt {
  position: absolute;
  top: -19px;
  right: -32px;
  color: white;
}
.app-footer-map-span {
  color: gray;
  margin: 5px 20px;
  text-align: left;
}
.fa-clock {
  position: absolute;
  top: 12px;
  right: 13px;
  color: white;
}
.fa-facebook-f {
  position: absolute;
  top: 12px;
  right: 14px;
  color: white;
}
.fa-instagram {
  position: absolute;
  top: 12px;
  right: 13px;
  color: white;
}
.icons-margin {
  margin: 0px 20px;
}
.text-l{
  text-align: left;
}