
#element::-webkit-scrollbar {
	width: 6px;
	background-color: #b9caad;
  }
  
  #element::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-color: #529921;
  }
  
  #element::-webkit-scrollbar-track {
	border-radius: 10px;
	background-color: #ffffff;
  }
#element{
    overflow-x: hidden;
}
